<article class="cf ph3 ph5-ns pv5 black sans-serif">
  <header class="fn fl-ns w-25-ns pr4-ns">
    <h1 class="mb3 mt0 lh-title f1 yellow">Lola Odelola</h1>
  </header>
  <div class="fn fl-ns w-50-ns f4">
    <p class="lh-copy measure mt4 mt0-ns">
      Hi! I’m Lola, I write poems and build web things. 
      Like most toddlers, I learnt to write when I was about 3 and haven’t stopped since. 18yrs after conquering pen holding, I accidentally fell in love with coding and have been on a quest to learn and teach as much as possible. 
    </p>
    <p class="lh-copy measure">
      I‘m a published poet via my self ( <em>#000000</em> )and Eyewear Poetry ( <em>Lost and Found</em> ). <em>Lost and Found</em> was selected as the 2016 Poetry Book Society's spring pamphlet. I run an organisation, <a href="https://blackgirl.tech" class="link b no-underline hover-red dib black hover-red courier">blackgirl.tech</a>, that aims to provide a safe space for girls and women of colour to learn more about tech and how to code.
    </p>
    <p class="lh-copy measure">
      If you'd like me to speak at something, <a href="#footer" class="link dim b hover-grey no-underline black dib">get in touch!</a> I'm open to speaking about ruby, rails, diversity and inclusion in tech, poetry, writing, and probably other stuff. Hear me ramble on the internet on <a href="https://soundcloud.com/blackgirltech/sets/lost-in-the-source" class="link dim b hover-green no-underline black dib">Lost in the Source</a> or you can read my tech or poetry ramblings. Here's some stuff other people have said about me:
      </p>
<!--       <a class="link dib dim dib b hover-red no-underline" href="#">Buzzfeed</a> | 
 -->      <a class="link dim b hover-blue no-underline black dib" href="https://soundcloud.com/naomi-simon-show/caribbean-takeaway-bhm-iv">20something Podcast</a> | 
      <a class="link dim b hover-pink no-underline black dib" href="https://www.projectada.co.uk/tag/black-girl-tech/">Project Ada</a> | 
      <a class="link dim b hover-orange no-underline black dib" href="https://trueafrica.co/lists/13-different-black-british-women-amazing-things/">13 Black British Women Doing Amazing Things</a> | 
      <a class="link dim b hover-purple no-underline black dib" href="https://davepoems.wordpress.com/2016/02/11/damilola-odelola-lost-found/">A Review of Lost and Found</a>
  </div>
</article>
