<article class="cf ph3 ph5-ns pv5">
  <header class="fn fl-ns w-25-ns pr4-ns">
    <h1 class="mb3 mt0 lh-title f1">Lola Odelola</h1>
  </header>
  <div class="fn fl-ns w-50-ns f4">
    <p class="lh-copy measure mt4 mt0-ns">
      Hi! I’m Lola, I write poems and build web things. 
      Like most toddlers, I learnt to write when I was about 3 and haven’t stopped since. 18yrs after conquering pen holding, I accidentally fell in love with coding and have been on a quest to learn and teach as much as possible. 
    </p>
    <p class="lh-copy measure">
      I‘m a published poet via my self and Eyewear Poetry, and I have started an organisation, blackgirl.tech, that aims to provide a safe space for girls and women of colour to learn more about tech and how to code.
    </p>
    <p class="lh-copy measure">
      If you'd like me to speak at something, get in touch! I'm open to speaking about ruby, rails, diversity and inclusion in tech, poetry, writing, and probably other stuff. Hear me ramble on the internet on Lost in the Source and View Source, or you can read my tech or poetry ramblings. Here's some stuff other people have said about me:
    </p>
    <ul>
      <li>Buzzfeed</li>
      <li>20something Podcast</li>
      <li>Project Ada</li>
      <li>10 lit African Women</li>
      <li>Ain't I A Woman</li>
    </ul>
  </div>
</article>
