<article class="cf ph3 ph5-ns h-75-ns pv5 black avenir">
  <header class="fn fl-ns w-25-ns pr4-ns">
    <h2 class="mb3 mt0 lh-title f1 dark-pink">Bios</h2>
<!--     <a href="#" class="link dib dim black b hover-red no-underline">CV</a>
 -->  </header>
  <div class="fn fl-ns w-50-ns f3">
    <h3> < 250 chars</h3>
    <p class="lh-copy measure mt4 mt0-ns">
      Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist.
    </p>

    <h3> 500 chars</h3>
    <p class="lh-copy measure mt4 mt0-ns">
      Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist. Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist.
    </p>

    <h3> 500 chars</h3>
    <p class="lh-copy measure mt4 mt0-ns">
      Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist. Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist. Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist. Lola is a ruby developer, poet and founder of blackgirl.tech. She’s passionate about diversifying the industry and making it more inclusive and safe. Lola is the author of two poetry pamphlets and freelances as an anti-cheesecake activist.
    </p>
  </div>
</article>
