<article class="cf ph3 ph5-ns h-75-ns pv5 black avenir">
  <header class="fn fl-ns w-25-ns pr4-ns">
    <h2 class="mb3 mt0 lh-title f1 dark-pink">Hire Me</h2>
<!--     <a href="#" class="link dib dim black b hover-red no-underline">CV</a>
 -->  </header>
  <div class="fn fl-ns w-50-ns f3">
    <p class="lh-copy measure mt4 mt0-ns">
      I am available for freelance consulting and speaking engagements. Software engineering and web development is my day job and I have three years experience in the field. Through this work and my contributions to diversty and inclusion in technology with my organisation, <a class="link dim b hover-red courier no-underline black dib" href="www.blackgirl.tech">blackgirl.tech</a>, I have had the pleasure of speaking at various events including DIY cultures fair and <a class="link dim b hover-yellow no-underline black dib" href="https://www.womenwhocode.com/london">Women Who Code</a>, have look at some more of my <%= link_to "talks", talks_path, class: "link dim b hover-pink no-underline black dib" %> or <%= link_to "events", events_path, class: "link dim b hover-navy no-underline black dib" %> I've spoken at. To see more of my code, visit my <a class="link dim b hover-blue no-underline black dib" href="http://github.com/damzcodes">github</a>. For more information, you can email <a href="mailto:me@damilolaodelola.com" class="link dim b hover-green no-underline black dib">me@damilolaodelola.com</a>.
  </div>
</article>
