<article class="cf ph3 ph5-ns h-75 pv5 black sans-serif">
  <header class="fn fl-ns w-25-ns pr4-ns">
    <h2 class="mb3 mt0 lh-title f1 dark-pink">Hire Me</h2>
<!--     <a href="#" class="link dib dim black b hover-red no-underline">CV</a>
 -->  </header>
  <div class="fn fl-ns w-50-ns f3">
    <p class="lh-copy measure mt4 mt0-ns">
      I am available for freelance web development or speaking engagements. Software engineering and web development is my day job and I have two years experience in the field. Through this work and my contributions to diversty and inclusion in technology with my organisation, <a class="link dim b hover-red courier no-underline black dib" href="www.blackgirl.tech">blackgirl.tech</a>, I have had the pleasure of speaking at various events including DIY cultures fair and <a class="link dim b hover-yellow no-underline black dib" href="https://www.womenwhocode.com/london">Women Who Code</a>. To see more of my code, visit my <a class="link dim b hover-blue no-underline black dib" href="http://github.com/damzcodes">github</a>. For more information, you can email <a href="mailto:me@damilolaodelola.com" class="link dim b hover-green no-underline black dib">me@damilolaodelola.com</a>.
    </p>

    <!-- <p class="lh-copy measure mt4 mt0-ns">
      I am available for freelance web development, diversity and inclusion consulting or speaking engagements. Software engineering and web development is my day job and I have two years experience in the field. As the founder of <a class="link dim mr3 b hover-blue courier no-underline black dib" href="www.blackgirl.tech">blackgirl.tech</a>and through my own personal experience as a minority in technology, I have been able to see what the industry gets right and what it gets very wrong, equipping me with the tools to consult organisations on how to be more inclusive and what it means to be diverse. Through my work in the field and my work in diversty and inclusion, I have had the pleasure of speaking at various events including DIY cultures fair and Women Who Code. For more information, you can email <a href="mailto:me@damilolaodelola.com" class="link dim mr3 b hover-green no-underline black dib">me@damilolaodelola.com</a>.
    </p> -->
    <!-- <div>
      <h3>Web Development</h3>
      <p> As web developer I will buil</p>

      <ul>
        <li> Community (build) </li>
        <li> In Your Area (design and build) </li>
        <li> blackgirl.tech (design and build) </li>
        <li> Ms Robinson Photography (design and build) </li>
      </ul>
    </div>

    <div>
      <h3>Diversity and Inclusion Consultation</h3>

      <ul>
        <li></li>
      </ul>
    </div>

    <div>
      <h3>Speaking</h3>

      <ul>
        <li></li>
      </ul>
    </div> -->
  </div>
</article>
