<article class="cf ph3 ph5-ns h-75 pv5 black sans-serif">
  <header class="fn fl-ns w-25-ns pr4-ns">
    <h2 class="mb3 mt0 lh-title f1 navy">Hire Me</h2>
    <a href="#" class="link dib dim black b hover-red no-underline">CV</a>
  </header>
  <div class="fn fl-ns w-50-ns f4">
    <p class="lh-copy measure mt4 mt0-ns">
      I am available for freelance web development, diversity and inclusion consulting or speaking engagements. For rates, you can email damzcodes@gmail.com.
    </p>
    <div>
      <h3>Web Development</h3>
      <p> As web developer I will buil</p>

      <ul>
        <li> Community (build) </li>
        <li> In Your Area (design and build) </li>
        <li> blackgirl.tech (design and build) </li>
        <li> Ms Robinson Photography (design and build) </li>
      </ul>
    </div>

    <div>
      <h3>Diversity and Inclusion Consultation</h3>

      <ul>
        <li></li>
      </ul>
    </div>

    <div>
      <h3>Speaking</h3>

      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</article>
