<div id="particles-js" class="vh-100 dt w-100">
</div>

<div class="midnight-gradient tc vh-100 dt w-100 white">
  <div class="dtc v-mid tc">
    <h1 class="avenir f8-l mb0 w-100 mt0 white"> LOLA ODELOLA</h1>
    <ul class="list f3-l pt3">
      <li class="dib-l pl3"><a href="/about" class="white link b">ABOUT</a></li>
      <li class="dib-l pl3">POETRY</li>
      <li class="dib-l pl3">TECH</li>
      <li class="dib-l pl3">CONTACT</li>
    </ul>
  </div>
</div>

<script src="assets/particles.js"></script>