<!-- <div id="particles-js" class="vh-100 w-100 absolute">
</div>
 -->
<!-- <div id="particles-js" class="midnight-gradient vh-100 w-100 white">
  <header class="v-mid tc fl">
    <h1 class="avenir f8-l w-100 mv0 white"> LOLA ODELOLA</h1>
    <%= link_to "ABOUT", about_path, class: "white link b f2-ns mr3" %>
    <%= link_to "POETRY", poetry_path, class: "white link b f2-ns mr3" %>
    <%= link_to "TECH", tech_path, class: "white link b f2-ns mr3" %>
    <%= link_to "CONTACT", "#", class: "white link b f2-ns" %>
  </header>
  <div class="cf"></div>
</div>

<script src="assets/particles.js"></script> -->