<article class="cf ph3 ph5-ns h-75-ns pv5 black avenir">
  <div class="fn w-100-ns pr4-ns">
    <h1 class="mb3 mt0 lh-title f1 dark-green">Talks &amp; Workshops</h1>

    <p class="f3 fw4"> If you would like to invite me to give a talk or lead a workshop, you can email <a class="link hover-yellow b black" href="mailto:me@damilolaodelola.com">me@damilolaodelola.com</a>. I am comfortable talking about writing, the writing process, rails, ruby, gadgets, diversity and inclusion, jobs, and being a junior developer. I'm not limited to this list, so if you have a topic that you'd like to hear me speak on, you can still pitch it. I don't give talks or lead workshops between Friday sunset and Saturday sunset. Some of my talks are listed below, I also host the <a class="link hover-red b black" href="https://soundcloud.com/lostinthesource">Lost in the Source Podcast</a>.</p>
  </div>

  <div class="fn w-50-ns f3">
    <h2 class="mb0">Finding Your Dream Job</h2>
    <p class="mt1 f4">Many people feel like they can't interview potential employers however, it's very important to ask employers some key questions before you accept a job. In this talk I present on what you should be looking for to ensure that you are adequately supported in a new role. My talk in the video is from 19:56.</p>
    <a href="https://skillsmatter.com/skillscasts/9865-london-ruby-lightning-talks" class="link ba bw1 br3 pa1 light-blue hover-white hover-bg-light-blue b--light-blue"> Video </a>
    <a href="https://s3.eu-west-2.amazonaws.com/lolaodelola/slides/five_job_tips_pdf.pdf" class="link ba bw1 br3 pa1 light-blue hover-white hover-bg-light-blue b--light-blue mh2"> Slides </a>
    <a href="https://soundcloud.com/lostinthesource/lostinthesource-ep2-do-dream-jobs-exist" class="link ba bw1 br3 pa1 light-blue hover-white hover-bg-light-blue b--light-blue"> Podcast </a>
  </div>
  
</article>