<footer id="footer" class="bt b--black-10 pv3 tc ph3 pa5-m mt7 mt0-ns avenir">
  <p class="lh-copy tc">
    If you want to contact me, get at me:
    <a href="mailto:me@damilolaodelola.com" class="link dim mr3 b hover-green no-underline black dib">me@damilolaodelola.com</a>
  </p>
  <div class="mt4">
    <a class="link dim mr3 b hover-blue no-underline black dib" href="http://github.com/damzcodes">GitHub</a>
    <a class="link dim mr3 b hover-purple no-underline black dib" href="http://twitter.com/lolaodelola">Twitter</a>
    <a class="link dim mr3 b hover-yellow no-underline black dib" href="https://medium.com/@lolaodelola/">Medium</a>
  </div>
</footer>
