<nav class="pa3 pa4-ns fr avenir">
  <%= link_to "About", about_path, class: "link dim f6 f5-ns dib mr3 b hover-blue no-underline black dib" %>
  <%#= link_to "Hire Me", hire_me_path, class: "link dim f6 f5-ns dib mr3 b hover-green no-underline black dib" %>
  <%= link_to "Talks & Workshops", talks_path, class: "link dim f6 f5-ns dib mr3 b hover-pink no-underline black dib" %>
  <%#= link_to "Events", events_path, class: "link dim f6 f5-ns dib mr3 b hover-navy no-underline black dib" %>
  <%= link_to "Poetry", poetry_path, class: "link dim f6 f5-ns dib mr3 b hover-dark-green no-underline black dib" %>
  <%= link_to "Tech", tech_path, class: "link dim f6 f5-ns dib b hover-purple no-underline black dib" %>
</nav>
<div class="cf"></div>
