<header class="pr4-ns">
  <h1 class="mb3 lh-title f1 tc">Poetry</h1>
</header>

  <% @posts.each do |post| %>
    <a href= "/poetry/<%= post.id %>" class= "link dim f1 avenir fw1 dib hover-red pa3 no-underline black"> <%= post.title %> </a>
    <span class="f1 avenir fw1 dib pa3 black"> | </span>
  <% end %>