<div class="vh-75-ns">
  <% @posts.each do |post| %>
    <a href= "/poetry/<%= post.id %>" class= "link dim f1-ns f3 avenir fw1-ns dib hover-red pv3 ph2 no-underline black fw4"> <%= post.title %> </a>
    <span class="f1-ns f3 avenir fw1 dib black"> | </span>
  <% end %>
</div>

<%= will_paginate @posts %>