<div class="vh-75-ns">
  <% @posts.each do |post| %>
    <a href= "/poetry/<%= post.id %>" class= "link dim f1 avenir fw1 dib hover-red pa3 no-underline black"> <%= post.title %> </a>
    <span class="f1 avenir fw1 dib pa3 black"> | </span>
  <% end %>
</div>