<div class="vh-75-ns ph3 ph5-ns">
  <% @posts.each do |post| %>
    <a href= "/tech/<%= post.id %>" class= "link dim f1-ns f3 avenir fw1-ns fw4 dib hover-red pv3 ph2 no-underline black"> <%= post.title %> </a>
    <span class="f1-ns f3 avenir fw1 dib black"> | </span>
  <% end %>
</div>

<div class="fw3 avenir black ph3 ph5-ns">
  <%= will_paginate @posts, previous_label: "<< Previous", next_label: "Next >>"%>
  <%= page_entries_info @posts %>
</div>