<header class="pr4-ns">
  <h1 class="mb3 lh-title f1 tc">Tech Writing</h1>
</header>
<ul class="list pl0">
  <% @posts.each do |post| %>
    <li class="pa3 pa4-ns bb b--black-10 w-25 ml3">
      <b class="db f3 mb1"><%= post.title %></b>
  </li>
  <% end %>
</ul>