<div class="vh-75-ns">
  <% @posts.each do |post| %>
    <a href= "/tech/<%= post.id %>" class= "link dim f1-ns f3 avenir fw1-ns fw4 dib hover-red pv3 ph2 no-underline black"> <%= post.title %> </a>
    <span class="f1-ns f3 avenir fw1 dib black"> | </span>
  <% end %>
</div>