/* INDEX.html */

.midnight-gradient {
  background: rgb(44,14,104);
background: -moz-linear-gradient(top, rgba(44,14,104,1) 30%, rgba(90,0,135,1) 73%);
background: -webkit-linear-gradient(top, rgba(44,14,104,1) 30%,rgba(90,0,135,1) 73%);
background: linear-gradient(to bottom, rgba(44,14,104,1) 30%,rgba(90,0,135,1) 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c0e68', endColorstr='#5a0087',GradientType=0 );
}

.f8-l {
  @media screen and (min-width: 800px) {
    font-size: 8rem;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
}