<!DOCTYPE html>
<html>
  <head>
    <title>LolaOdelola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>

  <body style="background-color: purple;">
    <%= yield %>
  </body>
</html>
